<div class="page-header">
	<h3>Ils nous ont fait confiance</h3>
</div>

<% if user_signed_in? %>
<%= link_to t('.new', :default => t("helpers.links.new")),
new_entreprise_path,
:class => 'btn btn-primary' %>
<%end%>


<h4>Partenaires Entreprises</h4>

<% @entreprises.each do |entreprise| %>

<% if entreprise.sort == 1 %>


<a href="<%= entreprise.lien %>"><%= image_tag(entreprise.image.url(:icone)) %></a>&nbsp&nbsp
<% if user_signed_in? %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
edit_entreprise_path(entreprise), :class => 'btn btn-mini' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
entreprise_path(entreprise),
:method => :delete,
:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
:class => 'btn btn-mini btn-danger' %>
<% end %>

<% end %>

<% end %>
<br>
<p> Contactez-nous <a href="mailto:corporate@senseschool.cc">ici</a>.</p>

<h4>Partenaires académiques</h4>

<% @entreprises.each do |entreprise| %>

<% if entreprise.sort == 2 %>


<a href="<%= entreprise.lien %>"><%= image_tag(entreprise.image.url(:icone)) %></a>&nbsp&nbsp
<% if user_signed_in? %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
edit_entreprise_path(entreprise), :class => 'btn btn-mini' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
entreprise_path(entreprise),
:method => :delete,
:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
:class => 'btn btn-mini btn-danger' %>
<% end %>

<% end %>

<% end %>
<br>
<p>Contactez-nous <a href="mailto:academic@senseschool.cc">ici</a>.</p>

<h4>Entrepreneurs sociaux</h4>

<% @entreprises.each do |entreprise| %>

<% if entreprise.sort == 3 %>


<a href="<%= entreprise.lien %>"><%= image_tag(entreprise.image.url(:icone)) %></a>&nbsp&nbsp
<% if user_signed_in? %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
edit_entreprise_path(entreprise), :class => 'btn btn-mini' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
entreprise_path(entreprise),
:method => :delete,
:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
:class => 'btn btn-mini btn-danger' %>
<% end %>

<% end %>

<% end %><br>
<p>Contactez-nous <a href="mailto:contact@senseschool.cc">ici</a>.</p>